/* app css stylesheet */



.reactionCard {

  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;

}

.jumbotron {
  position: relative;
  /*overflow: hidden;*/
  height: 200px;
  
}



h1 {
  position: relative;
  z-index: 2;
  color: #000;
  margin: 0 !important;
  padding-bottom: 0 !important;
  border: 0 !important;
}

